<div id="search">
<h1>Search for a movie.</h1>
<%= form_tag("/search", :method => "get") do %>
	<div id="search-form">
	<%= text_field_tag(:q) %>
	</div>
	<div id="search-submit-button">
	<%= submit_tag("Search") %>
	</div>
<% end %>
</div>